form {
  width: 75%;
  height: 350px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pages {
  transition: transform 0.4s ease-in-out;
  gap: 20px;
  height: 100%;
  justify-content: start;
}

.page-1, .page-2, .page-3 {
  min-width: 100%;
  padding: 10px;
}   


/* pop up */

.info{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
}